<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>VocabularyAppFramework/Components/Fonts/Sorts_Mill_Goudy/SortsMillGoudy-Regular.ttf</string>
		<string>VocabularyAppFramework/Components/Fonts/Sorts_Mill_Goudy/SortsMillGoudy-Italic.ttf</string>
		<string>VocabularyAppFramework/Components/Fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf</string>
	</array>
</dict>
</plist>
